<br><br>
<center>
<h1><%= @current_user.name %>'s weeks</h1><br>
<br><br>
<br>

<div class="wrapper">
  <%= link_to "start new week", new_user_week_path(@user), class:"button create_button" %>
  <br><br>
  <%= link_to "past weeks", past_weeks_path(@user), class:"button create_button" %>

  <br><br>
  <%= render 'content' %>

  </div>
</center>