<br><br>
<center>
<h1 id='user-show-header'>my weeks</h1><br>
</center>
<div class="wrapper">
  <br>
  <div id="user-buttons">
    <%= link_to "my practices", "#", class:"button my-practices",  :'data-id'=> @current_user.id %>
    <%= link_to "new week", new_user_week_path(@current_user), class:"button create_button" %>
  </div>
  <br>
  <br>
  <div id="user-content">
    <%= render "content" %>
  </div>
</div>
