<br><br>
<center>

<h1 id='user-show-header'><%= @current_user.name.capitalize %>'s weeks <br></h1>


<div class="wrapper">
  <br>
  <div id="user-buttons">
    <%= link_to "start a new week", new_user_week_path(@current_user), class:"button create_button" %>
  </div>
  <br>
  <br>
  <div id="user-content">
    <%= render "content" %>
  </div>
</div>
</center>
