<br><br>
<center><h1>list of practices</h1></center>

</div>

<div class="wrapper">
<%= link_to "add a practice", new_practice_path, class:"button create_button" %> <br> <br>

<br>
<section class="practice-container">

<div class="practice_size">

<% @categorys.each do |c| %>
  <p>i want to better <%= c %> by </p>

    <ul>

      <% @practices.categorize_by(c).each do |p| %>
        <li>
        <div class="div_card">
        <%= link_to p.name, practice_path(p) %>
        <br>
        </li>
      <% end %>
    </ul>
<% end %>
</section>
</div>
</div>
<br>
<br>
<br>
