<br><br>

<center><h1>start your practice</h1>

what's something small that you can do to improve yourself and your life? <br>
    if you're having trouble, think about the things you most often regret spending time on,<br>
        the ones that are closing you in and holding you back from living fully. <br><br>
         you can start with <strong>not</strong> doing that. <br>
    
<%= render partial: "users/error_messages", locals: {instance: @practice} %><br>
<%= render 'form' %></center>
