// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-weight: normal;
    font-size: 80px;
    position: relative;
    top: 20px;
    left: 2.75%;
    color: rgb(92, 142, 163);
    font-family: 'Bad Script', cursive;
  }

  h2{
    color: #6D8A96;
  }
  
  // SHOW PAGE STYLES
  .header-box {
    padding: 15px;
    top: 50%;
    font-size: 1.75em;
    color: #1F252A;
    background-color: #B49082;
    width: 90%;
    position: relative;
    display: inline-block;
    font-family: 'East Sea Dokdo', cursive;

  }
  
  #header-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    text-align: center;
  
  }
  
  
  // PRACTICE INFO
  .practice-info {
    display: inline-block;
    float: left;
    width: 40%;
    background-color: lightgrey;
    padding: 1em;
  }
  .action-buttons a, .comment .action-buttons {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 3px 18px;
    margin: 5px;
    display: inline-block;
  }

  
  // TIPS
  #next-button{
    right: 0;
    margin-left: 20px;
  }
  
  .next-previous a{
    display: inline-block;

  }
  .tips {
    padding: 1em;
    display: inline-block;
    float:right;
    background-color: lightgrey; 
    width: 500px;
  }
  
  .tip p{
    background-color:#E6E7E8;
    border: 20px solid #E6E7E8;
    text-align: left;
    margin: 15px;

  }
  
  .tip-links {
    text-decoration: none;
    color: #B1B3B6;
    text-align: right;
    padding: 5px;
    font-size: .75em;
  }
  
  
  
  // INDIVIDUAL DIV STYLES -- INDEX
  .week_size {
    height: auto;
    margin: 10px;
  }
  
