// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper-home{
  width: 50%;
  margin: auto;

 }
 
  div.homepage_header {
    position: absolute;
    top: 20%;
    left: 25%;
    }
  
  .header_top {
    text-align: center;
    font-size: 1em;
  }
  
  .header_bottom {
    text-align: center;
    font-size: 4em;
  }
  
  .homepage_header a {
    color: white;
    text-decoration: none;
    background-color: #B49082;
    padding: 3px 18px;
    position: absolute;
  }
  
  #everywhere {
    font-weight: bold;
  }
  